
body {
  font-family: "Inter", sans-serif;

}

.min-section1 {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("resources/Banner\ Image.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 1150px;
  height: 513px;
  margin: 50px 105px;
  border-radius: 16px;
}

.herotext1 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  padding-top: 119px;
  margin-bottom: 37px;
}

.herotext2 {
  color: #fff;
  font-size: 70px;
  font-weight: 900;
  text-align: center;
  margin-top: 1px;
}

.classh2 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-top: 120px;
  margin-bottom: 93px;
}

.classp2 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.classh4 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}

.new-year {
  margin: 0px 250px;
}



.hero-section3{
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("resources/Vectorrr.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 1150px;
  height: 513px;
  margin: 120px 105px;
  border-radius: 16px;
}



.hero1{
  margin-left: 80px;
}
.party-h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 7.04px;
  width: 600px;
  margin-bottom: 24px;
}

.party-p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 697px;
  margin-bottom: 48px;
}

.party-btn {
  width: 170.106px;
  height: 64px;
  border-radius: 8px;
  border: none;
  background: teal;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}



.hero2 {
  background-image: url("resources/Group_70-removebg-preview.png");
  background-size: 245px;
  background-repeat: no-repeat;
  width: 319.83px;
  height: 464.662px;
  opacity: 92%;
  margin-right: 53px;
  margin-top: 76px;
}

.header-container3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}



.hero-section4 {
  width: 1150px;
  height: 600px;
  margin: 120px 99px;
  border-radius: 16px;
  background-color: #ffeeee;
}

.class-hero4 {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  text-align: center;
}

.hero-4 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.btn-2 {
  border-radius: 8px;
  background: #f00;
  padding: 16px 32px;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 48px;
  border: none;
}

.min-section4{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
}


.hero-section5 {
  width: 1150px;
  height: 600px;
  margin: 120px 80px;
  border-radius: 16px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.min-section5 {
  margin-left: 20px;
}

.minh-5 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.min-5 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.minp-5{
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  width: 393px;
}

.hero-section6{
  margin-right: 20px;
}

.ptag{
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

.ptag2 {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  width: 276px;
  margin-bottom: 43px;
}

.min-section6{
  width: 364.844px;
  height: 364.844px;
  border: 15px solid #f00;
  border-radius: 50%;
  padding: 40.08px;
  margin-right: 76px;
}


.hero-section7 {
  width: 1150px;
  height: 933px;
  margin: 120px 80px;
  border-radius: 16px;
  background-color: #fff;
}

.holi-text1 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
  text-align: center;
}

.holi-text2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 28px;
  text-align: center;
}

.holi-sp {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}

.holi-p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  width: 900px;
  margin-left: 180px;
}



.images-section1{
  margin-left: 721px;
  margin-top: 64px;
}

.images-section2{
  margin-top: -4px;
  width: 1150px;
}

.bg-img1 {
  background-image: url("resources/Group\ 44.png");
  background-position: right center;
  background-size: cover;
  width: 270.841px;
  height: 270.841px;
  position: absolute;
  margin-top: 169px;
  left: 669px;
}

.bg-img2 {
  background-image: url("resources/Group\ 75.png");
  background-position: left bottom;
  background-size: cover;
  width: 690px;
  height: 573px;
  position: absolute;
  margin-top: -380px;
  left: 85px;
  opacity: 90%;
}

/* Div 03 */
.gift-section1 {
  width: 1150px;
  height: 1063px;
  margin: 120px 80px;
  border-radius: 16px;
  background-color: #fff;
}

.gif1 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.gif2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.gifp {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  width: 896px;
}
.gullu{
  margin-top: 48px;
  width: 384px;
  height: 409px;
  padding: 10px;
  margin-left: -4px;
  transition: 0.5s;
  cursor: pointer;
}

.gullu:hover {
  box-shadow: 5px 5px 10px 5px #555;
  border-radius: 15px;
  transform: calc(1.1);
}

.gullu1 {
  padding-top: 10px;
  width: 384px;
  height: 409px;
  padding: 10px;
  margin-left: -4px;
  transition: 0.5s;
  cursor: pointer;
}

.gullu1:hover {
  box-shadow: 5px 5px 10px 5px #555;
  border-radius: 15px;
  transition: calc(1.1);
}


.group61 {
  width: 1150px;
  height: 600px;
  margin: 120px 80px;
  border-radius: 16px;
  background-color: #fff2f2;
}

.email {
  width: 150px;
  height: 150px;
  margin-left: 500px;
  margin-top: 80px;
}

.email-text {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 40px;
}

.email-p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  width: 896px;
  margin-left: 133px;
  margin-top: 22px;
  margin-bottom: 48px;
}

#btn1 {
  width: 454px;
  height: 72px;
  border-radius: 50px 0px 0px 50px;
  background: #fff;
  border: none;
  color: rgba(7, 2, 17, 0.3);
  text-align: left;
  padding: 15px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-left: 252px;
}

.button2 {
  width: 190px;
  height: 72px;
  border-radius: 0px 50px 50px 0px;
  border: none;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 22px;
}
/* Main Section Ends Hare */

/* Footer section Starts hare */
.footer-section {
  width: 1343px;
  height: 725px;
  background: #070211;
}

.phone1 {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  margin-top: 120px;
}

.phone2 {
  margin-top: 120px;
}

.contact {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

hr {
  width: 1072px;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
  margin: 48px 158px;
}

.icon-item {
  text-align: center;
  margin-top: 48px;
}

.contact-link {
  margin-left: 24px;
  text-decoration: none;
}

.last-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cp {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 50px;
}

.btn-s {
  width: 170.106px;
  height: 64px;
  border-radius: 8px;
  border: none;
  background: #005fac;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-top: 50px;
}
